<div style="width: 100%; height: 12px; display: flex;">
    <div style="flex: 1; background-color: #2772AB;"></div>
    <div style="flex: 1; background-color: #AF965A;"></div>
    <div style="flex: 1; background-color: #30393C;"></div>
</div>
<div class="newspaper-container">
    <header class="newspaper-header">
        <div class="d-flex flex-row">
            <h1 class="newspaper-title w-100">.::scitia::.</h1>
        </div>
        <hr>
        <nav class="newspaper-tabs d-flex justify-content-between">
            <a routerLink="home" class="tab active">home</a>
            <a routerLink="blog" class="tab">blog</a>
            <a routerLink="ideas" class="tab">ideas</a>
            <a routerLink="about" class="tab">about</a>
            <a routerLink="science" class="tab">science</a>
        </nav>
        <hr>
    </header>
</div>
<router-outlet></router-outlet>