<!-- Thin tricolor bar based on the ribbon colors -->
<div style="width: 100%; height: 12px; display: flex;">

    <!-- Blue -->
    <div style="flex: 1; background-color: #2772AB;"></div>

    <!-- Gold -->
    <div style="flex: 1; background-color: #AF965A;"></div>

    <!-- Black -->
    <div style="flex: 1; background-color: #30393C;"></div>

</div>
<div class="newspaper-container">
    <header class="newspaper-header">
        <div class="d-flex flex-row">
            <h1 class="newspaper-title w-100">.::SCITIA::.</h1>
        </div>
        <hr>
        <nav class="newspaper-tabs d-flex justify-content-between">
            <a routerLink="home" class="tab active">Home</a>
            <a routerLink="blog" class="tab">Blog</a>
            <a routerLink="ideas" class="tab">Ideas</a>
            <a routerLink="about" class="tab">About</a>
            <a routerLink="science" class="tab">Science</a>
        </nav>
        <hr>
    </header>
</div>
<router-outlet></router-outlet>